#actor{
  .actors{
    display: flex;
    gap: 30px;
    &--title{
      width: 60%;
      h3{
        padding: 20px 0;
      }
      &__bio{
        h2{
          padding: 20px 0;
        }
        div{
          //padding-top: 20px;
        }
      }
    }
  }
}