#movieCard{
  .movieCard{
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    a{
      width: 100%;
      img{
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

    }
    h3{
      color: white;
      font-size: 17px;
      margin-top: 20px;
    }
    h4{
      color: white;
      margin: 20px 0;
      font-size: 15px;
    }
  }
}