@import "components/Header/index";
@import "components/Footer/index";
@import "components/Home/index";
@import "components/Popular/index";
@import "components/TopRated/index";
@import "components/MovieCard/index";
@import "components/Actors/index";
@import "components/Trailer/index";
@import "src/Page/MovieDetails/index";
@import "src/Page/ActorDetails/index";

*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
button {
  cursor: pointer;
}
a{
  text-decoration: none;
}
.container{
  width: 90%;
  margin: 0 auto;
}
